.img-container {
  width: 60%;
}

.art-img {
  max-width: 100%;
  height: auto;
}

.newspaper {
  margin: 100px 10px 50px 10px;
  max-width: 100%;
  height: auto;
}

h3 {
  width: 40%;
  font-size: 22px;
  font-weight: 1000;
}

.article-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
      overflow-y: scroll;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abstract {
  width: 45%;
}
